

<table id="ableton-project-table">
    <thead>
        <tr>
            {% for head in header %}
                <td>{{ head }}</td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for track in tracks %}
                <tr class="track-info"
                {% if not track.is_visible %} style="visibility: collapse;"{% endif %}
                hx-get="/toggle-group-track?track_id={{ track.track_id }}&project_idx={{ project_idx }}"
                    hx-target="#ableton-project-table"
                hx-swap="outerHTML"
                >
                    {% for head in header %}
                        <td class="ableton-col-{{ track.color }}">{{ track[head] }} </td>
                    {% endfor %}
                </tr>
        {% endfor %}
    </tbody>
</table>

<style>

th, td {
  border: 1px solid #a1fffd;
  border-radius: 5px;
}

    .track-info{
    }
</style>