
<button hx-get="/load-selected-projects" hx-indicator="#spinner">
    Ausgewählte Dateien laden
</button>
<table>
    <thead>
    <tr>
        <td>Dateipfad</td>
        <td>Letzte Änderung</td>
        <td>Datei ist geladen</td>
        <td>Datei ist im Zwischenspeicher</td>
        <td>Warnungen</td>
        <td>Datei zum Laden auswählen</td>
    </tr>
    </thead>
    <tbody>
    {% for project in ableton_projects %}
        {% set proj_idx = loop.index0 %}
        <tr class="project-info" hx-get="/project_table?project_id={{ proj_idx }}" hx-target="#project-table"
            hx-swap="innerHTML" hx-push-url="true" hx-indicator="#spinner">

        <td>{{ project.project_path }}</td>
            <td>{{ project.last_modified }}</td>
            <td>{{ project.is_loaded }}</td>
            <td>{{ project.is_cached }}</td>
            <td >
                {% if project.meta.contains_vst2 %}
                    <span title="Project contains VST2" style="background-color: red"> ⚠</span>
                {% else %}
                {% endif %}
            </td>
            <td> <input type="checkbox"> </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

