.ableton-col-0 {
	background-color: #FD95A7
}
.ableton-col-1 {
	background-color: #FDA43A
}
.ableton-col-2 {
	background-color: #CB9834
}
.ableton-col-3 {
	background-color: #F7F384
}
.ableton-col-4 {
	background-color: #C0F932
}
.ableton-col-5 {
	background-color: #32FD42
}
.ableton-col-6 {
	background-color: #39FDAA
}
.ableton-col-7 {
	background-color: #65FEE8
}
.ableton-col-8 {
	background-color: #8DC6FD
}
.ableton-col-9 {
	background-color: #5682E1
}
.ableton-col-10 {
	background-color: #93A9FC
}
.ableton-col-11 {
	background-color: #D670E2
}
.ableton-col-12 {
	background-color: #E3569F
}
.ableton-col-13 {
	background-color: #FFFFFF
}
.ableton-col-14 {
	background-color: #FC393D
}
.ableton-col-15 {
	background-color: #F46C20
}
.ableton-col-16 {
	background-color: #98714E
}
.ableton-col-17 {
	background-color: #FEEE4A
}
.ableton-col-18 {
	background-color: #8BFD70
}
.ableton-col-19 {
	background-color: #44C121
}
.ableton-col-20 {
	background-color: #1EBEAF
}
.ableton-col-21 {
	background-color: #31E9FD
}
.ableton-col-22 {
	background-color: #22A5EB
}
.ableton-col-23 {
	background-color: #127EBE
}
.ableton-col-24 {
	background-color: #8870E1
}
.ableton-col-25 {
	background-color: #B579C4
}
.ableton-col-26 {
	background-color: #FD42D2
}
.ableton-col-27 {
	background-color: #D0D0D0
}
.ableton-col-28 {
	background-color: #E0685D
}
.ableton-col-29 {
	background-color: #FDA378
}
.ableton-col-30 {
	background-color: #D2AC75
}
.ableton-col-31 {
	background-color: #EDFEB2
}
.ableton-col-32 {
	background-color: #D2E39C
}
.ableton-col-33 {
	background-color: #BACF79
}
.ableton-col-34 {
	background-color: #9CC38F
}
.ableton-col-35 {
	background-color: #D5FDE2
}
.ableton-col-36 {
	background-color: #CEF1F8
}
.ableton-col-37 {
	background-color: #B9C2E2
}
.ableton-col-38 {
	background-color: #CDBCE3
}
.ableton-col-39 {
	background-color: #AE9AE3
}
.ableton-col-40 {
	background-color: #E5DCE1
}
.ableton-col-41 {
	background-color: #A9A9A9
}
.ableton-col-42 {
	background-color: #C5928C
}
.ableton-col-43 {
	background-color: #B68259
}
.ableton-col-44 {
	background-color: #98836B
}
.ableton-col-45 {
	background-color: #BFB96E
}
.ableton-col-46 {
	background-color: #A6BC25
}
.ableton-col-47 {
	background-color: #7EAF52
}
.ableton-col-48 {
	background-color: #8AC2BA
}
.ableton-col-49 {
	background-color: #9CB3C3
}
.ableton-col-50 {
	background-color: #86A5C1
}
.ableton-col-51 {
	background-color: #8494CA
}
.ableton-col-52 {
	background-color: #A596B4
}
.ableton-col-53 {
	background-color: #BEA0BD
}
.ableton-col-54 {
	background-color: #BB7296
}
.ableton-col-55 {
	background-color: #7B7B7B
}
.ableton-col-56 {
	background-color: #AD3436
}
.ableton-col-57 {
	background-color: #A75135
}
.ableton-col-58 {
	background-color: #714F42
}
.ableton-col-59 {
	background-color: #DAC229
}
.ableton-col-60 {
	background-color: #85952B
}
.ableton-col-61 {
	background-color: #559E38
}
.ableton-col-62 {
	background-color: #1B9B8E
}
.ableton-col-63 {
	background-color: #266383
}
.ableton-col-64 {
	background-color: #1B3393
}
.ableton-col-65 {
	background-color: #3154A0
}
.ableton-col-66 {
	background-color: #624EAB
}
.ableton-col-67 {
	background-color: #A24EAB
}
.ableton-col-68 {
	background-color: #CA326E
}
.ableton-col-69 {
	background-color: #3C3C3C
}
