<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ableton Organizer</title>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>

    <body>

    <style>
    .GroupTrack{
        background-color: chocolate;
    }
    .MidiTrack{
        background-color: antiquewhite;
    }
    .AudioTrack{
        background-color: firebrick;
    }


    </style>
    {% macro trackInfo(t, track_id, depth) %}
        <tr>
            {% for i in range(depth) %}
                <td>
                </td>
            {% endfor %}
            <td class="{{t["type"] }}">
            {{ t["name"]["EffectiveName"]["Value"] }} ID {{ track_id }}
            </td>
        </tr>

    {% endmacro %}

    <table>
        {% for path in paths  %}
              <tr>
                <td>
                    <a href="{{ url_for('project_view') }}?project_id={{ loop.index }}">
                        {{ url_for('project_view') }}?project_id={{ loop.index0 }}
                    </a>
                </td>
              </tr>
        {% endfor %}
    </table>


    </body>
</html>