<div
        id="row_{{ row.idx }}"
        class="table-row
            {% if row.is_expanded %}expanded-row
            {% elif row.has_children %}expandable-row
            {% endif %}"

        {% if row.idx == 0 or row.page_link%}
            hx-target="#row_group_0"
            {% if row.page_link %}
                hx-get="/{{ row.page_link }}"
            {% else %}
                hx-get="/toggle_row?row={{ row.idx }}&project_id={{ project_id }}"
            {% endif %}
        {% elif row.has_children and not row.is_expanded %}
            hx-target="#row_{{ row.idx }}"
            hx-get="/toggle_row?row={{ row.idx }}&project_id={{ project_id }}"
        {% elif row.has_children and row.is_expanded %}
            hx-target="#row_group_{{ row.idx }}"
            hx-get="/toggle_row?row={{ row.idx }}&project_id={{ project_id }}"
        {% endif %}

        {% if row.is_expanded or row.has_children or row.page_link%}
            hx-trigger="click"
            hx-swap="outerHTML"
        {% endif %}
>

        {% if row.has_children and row.is_expanded %}
            <span class="toggle-row-arrow">↑</span>
        {% elif row.has_children and not row.is_expanded %}
            <span class="toggle-row-arrow">↓</span>
        {% endif %}
    <span class="depth-col table-col depth-indicator-{{ row.depth }}"></span>
    <span class="tag-col table-col"> {{ row.tag }} </span>

    <div class="value-box table-col value-col" >
        {% if row.value and row.value is mapping %}
            <div class="outer-button" hx-trigger="click consume">
                {% for tag, value in row.value.items() %}
                    <label for="value-{{ row.idx }}-{{ tag }}" class="value-tag" title="tag"> {{ tag }}: </label>
                    <span
                            id="value-{{ row.idx }}-{{ tag }}"
                            class="data-point"
                            hx-get="/bookmark?idx={{ row.idx }}&tag={{ tag }}"
                            hx-target="#bookmarks"
                            hx-trigger="click"
                            hx-swap="beforeend"
                            hx-on:htmx:before-request="console.log('before request')"
                            hx-on:htmx:after-request="setInfobox('<div> Row: {{ row.idx }} Tag: {{ tag }}<br>Value: {{ value }} </div>', 'bookmark_{{ row.idx }}{{ "_" + tag if tag else ""}}')";
                    >
                        {{ value }}
                    </span>
                {% endfor %}


            </div>
        {% elif row.value %}
            <div class="outer-button" hx-trigger="click consume">
                <span
                        class="data-point"
                        hx-get="/bookmark?idx={{ row.idx }}&tag={{ tag }}"
                        hx-target="#bookmarks"
                        hx-trigger="click"
                        hx-swap="beforeend"
                >
                    {{ row.value }}
                </span>
            </div>

        {% endif %}
        {% if row.text %}
            <label for="text_{{ row.idx }}" title="tag"> TEXTFELD: </label>
            <span id="text_{{ row.idx }}" class="data-point text-field ">
                {{ row.text }}
            </span>
        {% endif %}
        {% if row.additional_data %}
            {% for add in row.additional_data %}
                {{ add | safe }}
            {% endfor %}
        {% endif %}

    </div>
</div>