<div id="table">
    <div id="thead">
        {% for header in headers %}
            <div id="header_{{ header }}" class="header-item">
                {{ header }}
            </div>
        {% endfor %}
    </div>

    {{ row_group | safe }}
</div>

<style>

    #value-col{
        min-width: 50em;
        max-width: 150em;
    }

    #tag-col{
        min-width: 20em;
        max-width: 20em;
    }

    .expanded-row{
        background-color: #a5a5a5;
    }
    .expanded-row:hover{
        background-color: rgb(115, 148, 165);
    }
    .expandable-row {
        background-color: #5ecfff;
    }
    .expandable-row:hover{
        background-color: #6cdbfc;
    }
    .table-col{
        margin-left: 1em;
        display: inline-block;
    }
    .table-row{
        display: block;
        margin-bottom: 5px;
    }

    {% for depth in range(max_depth) %}
    .depth-indicator-{{ depth }}{
        height: 100%;
        min-width: {{ depth*3 }}px;
        max-width: {{ depth*3 }}px;
    }
    {% endfor  %}

</style>